*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(https://raw.githubusercontent.com/emr1195/POKEMON/main/img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}


.slide img{
    width: 800px;
    height: 500px;
}

.first{
    background: url(https://raw.githubusercontent.com/emr1195/POKEMON/main/img/pikawall.jpg);
    background-size: cover;
}

.first-info{
    width: 300px;
    height: 100px;
    margin-top: 50px;
    margin-left: 400px;
    position: relative;
    text-align: justify;
}

.first-info p{ 
    font-size: 25px;
    color: white;
}

.logo img{
    margin-top: 5px;
    width: 30px;
    height: 30px;
}

.evop{
    position: relative;
    margin-top: 60px;
    margin-left: 400px;
}

.evop img{
    width: 375px;
    height: 175px;
}

.second{
    background: url(https://raw.githubusercontent.com/emr1195/POKEMON/main/img/carwall.jpg);
    background-size: cover;
}

.second-info{
    width: 300px;
    height: 100px;
    margin-top: 50px;
    margin-left: 10px;
    position: relative;
    text-align: justify;
}

.second-info p{ 
    font-size: 25px;
    color: white;
}

.evoc{
    position: relative;
    margin-top: 60px;
    margin-left: 10px;
}

.evoc img{
    width: 375px;
    height: 175px;
}

.third{
    background: url(https://raw.githubusercontent.com/emr1195/POKEMON/main/img/squrtlewall.png);
    background-size: cover;
}

.third-info{
    width: 300px;
    height: 100px;
    margin-top: 50px;
    margin-left: 10px;
    position: relative;
    text-align: justify;
}

.third-info p{ 
    font-size: 25px;
    color: white;
}

.evos{
    position: relative;
    margin-top: 60px;
    margin-left: 10px;
}

.evos img{
    width: 375px;
    height: 175px;
}


.fourth{
    background: url(https://raw.githubusercontent.com/emr1195/POKEMON/main/img/yQ9Ylw.webp);
    background-size: cover;
}

.fourth-info{
    width: 300px;
    height: 100px;
    margin-top: 50px;
    margin-left: 480px;
    position: relative;
    text-align: justify;
}

.fourth-info p{ 
    font-size: 25px;
    color: white;
}

.logo img{
    margin-top: 5px;
    width: 30px;
    height: 30px;
}

.evob{
    position: relative;
    margin-top: 70px;
    margin-left: 420px;
}

.evob img{
    width: 375px;
    height: 175px;
}

.label{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label p{
    font-size: 35px;
    color: white;
}

.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor:pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: white;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

radio1:checked ~ .navigation-auto .auto-btn1{
    background: white;
}

radio2:checked ~ .navigation-auto .auto-btn2{
    background: white;
}

radio3:checked ~ .navigation-auto .auto-btn3{
    background: white;
}

radio4:checked ~ .navigation-auto .auto-btn4{
    background: white;
}






